body{
  font-family: 'News Cycle', sans-serif;
  
}

.main-container{
  max-width: 100%;
  width: 100%;
  background-color: pink;


img{
  display: inline-block;
  margin: 30px auto;
  width: 10%;
}

.title, .text{
  text-align: center;
}

.title{
  font-size: 48px;
}

.text{
  margin: 100px;
  font-size: 40px;
}
